<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>


<header th:fragment="header" class="header-fragment">
    <h1>CodeFellowship</h1>
    <h1 style="padding:1vw;margin:1vw;" th:text="${'Current User: ' + username}"></h1>
</header>

<nav th:fragment="menu">
<a th:href="@{/home}">Home</a>
<a th:href="@{/myprofile}">My Profile</a>
<a th:href="@{/feed}">My Feed</a>
<a th:href="@{/siteusers}">Code Fellows</a>
<a th:href="@{/logout}">Log Out</a>
</nav>


<footer th:fragment="footer">

    <br><span>&copy; 2022 Josh McCluskey</span>
</footer>
</body>
</html>