<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>My Profile</title>
</head>
<body>
<div th:if="${username}" th:insert="fragments/header-nav-footer :: header"></div>

<div class="navbar" th:if="${username}" th:insert="fragments/header-nav-footer :: menu"></div>

<h1>My Profile</h1>
<br>
<a th:href="${'/users/' + id}">Public View Profile</a>
<br>
<h2 th:text="${username + '  Profile Info'}"></h2>

<img class="profile" src="/../img/defaultProfile.jpeg" alt="Profile">

<span th:text="${'Username: ' + username}"></span>
<br><span th:text="${'First Name: ' + firstName}"></span>
<br><span th:text="${'Last Name: ' + lastName}"></span>
<br><span th:text="${'Date of Birth: ' + dateOfBirth}"></span>
<br><span th:text="${'Bio: ' + bio}"></span>
<br><br>

<span th:each=" post : ${posts}">
    <h3 th:text="${'Blog Title: ' + post.getTitle()}"></h3>
    <span th:text="${'Blog Post: ' + post.getBody()}"></span>
    <br><span th:text="${'Blog Date: ' + post.getCreatedAt()}"></span>
</span>
<br><br>

<form action="/addpost" method="post">
    <fieldset>
        <legend>Blog Post</legend>
        <label for="title">Blog Title</label>
        <input type="text" name="title">
        <label for="body">Blog Content</label>
        <textarea  type="text" name="body" required></textarea>
        <input class="button" type="submit" value="Submit Post">
    </fieldset>
</form>
<div th:insert="fragments/header-nav-footer :: footer"></div>
</body>
</html>