<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Create Account</title>
</head>
<body>
<h1>Create an Account</h1>
<form action="/signup" method="post">
    <label for="username">Username</label>
    <br><input type="text" name="username" placeholder="ex.Thomas A. Anderson">
    <br><label for="password">Password</label>
    <br><input type="password" name="password" placeholder="your secret here">
    <br><label for="firstName">First Name</label>
    <br><input type="text" name="firstName" placeholder="Thomas">
    <br><label for="lastName">Last Name</label>
    <br><input type="text" name="lastName" placeholder="Anderson">
    <br><label for="dateOfBirth">Date Of Birth</label>
    <br><input type="text" name="dateOfBirth" placeholder="1900-01-31">
    <br><label for="bio">Bio</label>
    <br><input type="text" name="bio" placeholder="Anderson">
    <br><br>
    <input type="submit" value="Create">
</form>
</body>
</html>