<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>Welcome to CodeFellowship</title>
</head>
<body>
<h1>Welcome to Codefellowship</h1>
<h2>Where Coders Unite</h2>

<img src="/../img/splash.jpg" alt="Code Fellowship Logo">
Photo by <a href="https://unsplash.com/@remyloz?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Remy_Loz</a> on <a href="https://unsplash.com/s/photos/desk?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
<br><h2>Please Sign up or Login</h2>
<br><a href="/login"> Login </a>
<br><a href="/signup"> Sign Up </a>
</body>
</html>